
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">
			<h1>Install Financial Times GitHub repositories as Bower components</h1>

			<p>
				The Origami Bower Registry is a Bower-compatible JSON API which lists all public
				repositories owned by the Financial Times.
			</p>

			<p>
				To use the Origami Bower registry, update your <code>~/.bowerrc</code> file to
				the following:
			</p>

			<pre><code>{
	"registry": {
		"search": [
			"https://origami-bower-registry.ft.com",
			"https://bower.herokuapp.com"
		]
	}
}</code></pre>

		</div>

	</div>
</div>
